<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-examples-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ember Blog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul class="nav navbar-nav">
        <li>{{link-to 'Posts' 'posts'}}</li>
        <li>{{link-to 'About' 'about'}}</li>
      </ul>
    </div>
  </div>
</nav>

<h2 id="title">Welcome to Ember.js</h2>

<div class="container"> 
  {{outlet}}
</div>
