<h1>Posts</h1>

<ul class="list-unstyled">
  {{!-- This iterates over the implicit `this` --}}
  {{!-- e.g., {{#each this}} --}}
  {{#each}}
    <li>
      {{!-- This in turn refers to an implicit `this.title` --}}
      {{title}}
      <span class="muted">
        by {{author.name}}
      </span>
    </li>
  {{/each}}
</ul>